version: '3.8'

services:
  frontend:
    image: wmartel31/frontend:latest
    container_name: frontend
    ports:
      - "8080:8080"
    networks:
      - proxy

  backend:
    image: wmartel31/backend:latest
    container_name: backend
    ports:
      - "5000:5000"
    networks:
      - proxy
    env_file:
      - ./backend/.env
    depends_on:
      - database

  database:
    image: wmartel31/database:latest
    container_name: database
    ports:
      - "3306:3306"
    networks:
      - proxy
    environment:
      MARIADB_ROOT_PASSWORD: 123
      MARIADB_DATABASE: tasksdb
      MARIADB_USER: user
      MARIADB_PASSWORD: password
    volumes:
      - ./db-data:/var/lib/mysql

networks:
  proxy:
    external: true